[package]
name = "gloat"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
glsl = "6.0"
version = "1.1.0"

[dependencies.uuid]
version = "1.1.0"
features = ["v4"]
